.byline {
    font-weight: bold;
    font-size: 1.2em;
}
.timestamp {
    font-style: italic;
    margin-bottom: 0.75rem;
}

.Summary {
    min-height: 200px;
}

.Office {
    border: 1px solid #bbb;
    background-color: #eee;
    margin: 1rem 0;
}
.officeHeader {
    background-color: #444444;
    color: #fff;
    /* margin: 0.5rem 0.25rem; */
    padding: 0.5rem;
}
.officeName {
    text-transform: uppercase;
    margin-bottom: 0;
}
.officeDescription {
    font-style: italic;
    font-size: 0.9em;
    line-height: 1.2em;
}
.officePrimaries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.5rem 0;
}



.Primary {
    /* border: 1px solid blue; */
    min-width: 150px;
    margin-right: 1em;

}
.primaryName {
    color: #666;
    margin: 0.25rem;
    text-align: center;
}
.primaryCandidates {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}   

.Candidate {
    /* border: 1px solid #ddd; */
    border-top: 8px solid;
    margin: 0.25rem;

    width: 80px;
    cursor: pointer;
    box-shadow: 1px 1px 2px #ddd;
}
.Candidate:hover {
    /* border: 4px solid #222; */
    /* border-top: 8px solid #222; */
    
    outline: 2px solid black;
    transform: scale(1.02);
    box-shadow: 2px 2px 3px #666;
    z-index: 100;
}
.Candidate.selected {
    outline: 2px solid black;
    transform: scale(1.05);
    box-shadow: 2px 2px 3px #444;
}

.name {
    font-size: 12px;
    /* font-weight: bold; */
    /* text-transform: uppercase; */
    /* padding: 0.25rem; */
    text-align: center;
    background-color: #fff;
}
@media screen and (min-width: 750px){
    .name {
        font-size: 14px;
    }
}

.mug {
    height: 80px;
    width: 100%;
    background-color: #444;
}

/* @media screen and (min-width: 500px){
    .Candidate {
        width: 75px
    }
    .mug {
        height: 75px
    }
} */

@media screen and (min-width: 750px){
    .Candidate {
        width: 100px
    }
    .mug {
        height: 100px
    }
}

/* @media screen and (min-width: 1000px){
    .Candidate {
        width: 200px
    }
    .mug {
        height: 200px
    }
} */

/* default/mobile modal display - pop-up */
.summaryModal {
    background: #fff;
    /* display: none; */
    /* opacity: 0.95; */
    
    position: fixed;
    /* top: 10px; */
    left: 0px;
    right: 0px;
    bottom: 0;

    

    z-index: 200;

    /* border: 1px solid #ddd; */
    /* box-shadow: 1px 1px 2px #666; */
    
}

.candidacy {
    display: none;
}



.CandidateSummary {
    

}
.summaryHeader {
    background-color: #ddd;
    position: relative;
    
    color: #eee;
    font-weight: bold;
    /* border-klef: 1px solid #666; */
    /* border-top: 1px solid #222; */
}
.summaryHeaderTitle {
    padding: 0.5rem;
    font-size: 1.3em;
    padding-right: 2rem;

}
.summaryHeaderTitle::before {
    content: '✕';
    color: #fff;
    opacity: 0.7;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1em;
}

.summaryBody {
    padding: 0.5rem;
}
.summaryTopMatter {
    display: flex;
}

.summaryImage {
    flex: 0 1 40%;
    max-width: 200px;
}
.summaryTopMatterText {
    flex: 1 1 60%;
    padding: 0 0.25rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summaryTitle {
    padding: 0.25em 0.25em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.summaryName {
    font-size: 2em;
    line-height: 1em;
    padding: 0.25em 0.25em;
    font-weight: bold;
    text-align: center;
}
.summaryNarrative {
    margin-top: 0.5rem;
    /* font-style: italic; */
    font-size: 0.9em;
    line-height: 1.2em;

}
.summaryPodcast {
    margin: 0.25rem 0;
    font-size: 0.9em;
}
.summaryContacts {
    margin-top: 0.5rem;
    font-size: 0.9em;

}

.summaryButton {
    display: block;
    max-width: 20rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
}


/* Desktop modal display - under office container */
@media screen and (min-width: 500px) {
    .summaryModal {
        position: static;
    }
    .summaryHeader {
        border-bottom: none;
    }
    .summaryHeaderTitle:before {
        content: none;
    }
    .summaryImage {
        display: none;
    }
    .candidacy {
        display: block;
    }
}