.Footer {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    background-color: #222;
    color: #fff;
    padding: 1rem;

    text-align: center;
}

.support {
    font-size: 1.2em;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.logo {
    width: 220px;
    padding: 10px;
    margin: auto;
    background-color: #fff;
}

.email {
    margin: auto;
}

.copyright {
    margin-top: 0.5rem;
}

.Footer a {
    color: #ddd;
    text-decoration: underline;
}
.Footer a:hover {
    color: #fff;
    
}