.PodcastLink {
    display: block;
    background-color: #444;
    border: 1px solid black;
    /* cursor: pointer; */

    color: #fff;
    padding: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    text-align: center;
}
.PodcastLink:hover {
    background-color: #2800d7;
    text-decoration: none;
}

.icon {
    fill: #fff;
    margin-right: 0.3rem;
}

.text {
    font-weight: bold;
}