
.table {
    font-size: 12px;
}
.cell, .headerCell  {
    border: none;
}
.headerCell {
    line-height: 14px;
}

/* .header {
    display: flex;
}*/

.row {
    border-top: 1px solid #ddd;
    padding: 0.2rem;
    font-size: 0.8rem;
    
    /* display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap; */

    text-decoration: none;
    color: #000;
}
.row:nth-child(odd){
    background-color: #eee;
}


/* COLUMN WIDTH SPACING */

/*.nameCol {
    flex: 1 0 8rem;
    font-weight: bold;
    font-size: 1em;
    padding: 0.2rem;
    margin-left: 0.5rem;
    margin-right: 0.2rem;
}
.statCol {
    flex: 1 0 8rem;
    text-align: right;
    margin-right: 0.2rem;
}
.partyCol {
    flex: 1 0 8rem;
    margin-right: 0.2rem;
}
.thumbnailCol {
    flex: 0 0 110px;
}
.textCol {
    flex: 1 0 8rem;
    margin-right: 0.2rem;
}
.linkCol {
    flex: 1 0 10rem;
    margin-right: 0.2rem;
}

@media(max-width: 400px){
    .nameCol {
        flex: 2 0 4rem;
        font-size: 0.8rem;
    }
    .linkCol {
        display: none;
    }
}

.header .partyCol,
.header .nameCol,
.header .districtCol{
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    text-align: left;
}

.header .billNumCol,
.header .votePercentCol {
    font-style: normal;
    font-weight: normal;
    font-size: 1em;
    
} */

/* sortable headers w/ icons */
.colSortable {
    cursor: pointer;
    display: block;
    /* color: brown; */
}

.colSortable:before {
    font-size: 1.2em;
    content: '↕ '
}
.colSortable:after {
    border-top-color: #666;
	margin-top: 1px;
}

.colSortable:hover {
    font-weight: bold;
}
.colNotSortable {
    /* color: blue; */
}
.colSortable.colActiveSortAsc {
    font-weight: bold;
}
.colSortable.colActiveSortAsc:before {
    font-size: 1.2em;
    content: '↑ '
}
.colSortable.colActiveSortDesc {
    font-weight: bold;
}
.colSortable.colActiveSortDesc:before {
    font-size: 1.2em;
    content: '↓ '
}