.container {
    max-width: 1200px;
    width: 100%;
    padding: 0.5rem;
}

.responses {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
}

.response {
    flex: 1 0 50%;
    min-width: 20em;
    /* padding-left: 1em; */
    padding-right: 1em;
    /* margin-right: 1em; */
    /* margin-left: 1px; */
}

.issueHeader {
    /* color: red; */
    background-color: #222;
    color: #fff;
    padding: 0.5em;
    padding-bottom: 1em;
    border: 1px solid #444;
    /* font-size: 1.2em; */
}