.CandidateMug {
    /* border: 1px solid #ddd; */
    border-top: 8px solid;
    margin: 0.25rem;

    width: 80px;
    max-height: 136px; /* Avoids stretched nameplate */
    cursor: pointer;
    box-shadow: 1px 1px 2px #ddd;

    position: relative;
}
.button:hover {
    outline: 2px solid black;
    transform: scale(1.02);
    box-shadow: 2px 2px 3px #666;
    z-index: 100;
}
.CandidateMug.selected {
    outline: 2px solid black;
    transform: scale(1.05);
    box-shadow: 2px 2px 3px #444;
}

.mugLink:hover {
   text-decoration: none;
}

.name {
    font-size: 12px;
    text-align: center;
    background-color: #fff;
    color: #222;
    font-style: italic;
    /* text-transform: uppercase; */
    /* font-weight: bold; */
    /* border: 1px solid #ddd;
    border-top: none; */
}
@media screen and (min-width: 750px){
    .name {
        font-size: 14px;
    }
}

.mug {
    height: 80px;
    width: 100%;
    background-color: #444;
}

.withdrawn:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    
    content: 'WITHDRAWN';
    z-index: 100;
    color: #444;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    opacity: 1;
}


@media screen and (min-width: 750px){
    .CandidateMug {
        width: 100px
    }
    .mug {
        height: 100px
    }
}