.CandidateSummary {
    margin: 0.5rem 0.5rem;
    border: 1px solid #666;
    padding: 0.75rem;
    background-color: #EAE3DA;
    box-shadow: 1px 1px 3px #888;
}
.district {
    font-size: 1.2em;
    /* font-weight: bold; */
}
/* .summaryHeaderTitle {
    

} */
/* .summaryHeaderTitle::before {
    content: '✕';
    color: #fff;
    opacity: 0.7;
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    font-size: 1em;
} */

/* 
.summaryTopMatter {
    display: flex;
}

.summaryImage {
    flex: 0 1 40%;
    max-width: 200px;
}
.summaryTopMatterText {
    flex: 1 1 60%;
    padding: 0 0.25rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.summaryTitle {
    padding: 0.25em 0.25em;
    font-size: 1.3em;
    font-weight: bold;
    text-align: center;
}

.summaryName {
    font-size: 2em;
    line-height: 1em;
    padding: 0.25em 0.25em;
    font-weight: bold;
    text-align: center;
}
.summaryNarrative {
    margin-top: 0.5rem;
    font-size: 0.9em;
    line-height: 1.2em;

}
.summaryPodcast {
    margin: 0.25rem 0;
    font-size: 0.9em;
}


.summaryButton {
    display: block;
    max-width: 20rem;
    margin: 1rem auto;
    padding: 0.5rem 1rem;
} */


/* Desktop modal display - under office container */
/* @media screen and (min-width: 500px) {
    .summaryModal {
        position: static;
    }
    .summaryHeader {
        border-bottom: none;
    }
    .summaryHeaderTitle:before {
        content: none;
    }
    .summaryImage {
        display: none;
    }
    .candidacy {
        display: block;
    }
} */

/* default/mobile modal display - pop-up
.summaryModal    
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0;
    z-index: 200;  
} */


.body {
    padding: 0.25rem;
}



.container {
    display: flex;
    flex-wrap: wrap;
}
.portraitNameTitleGroup {
    display: flex;
    flex: 1 1 300px;
    margin-bottom: 0.5rem;
    margin-right: 1rem;
}
@media screen and (max-width: 400px) {
    .portraitNameTitleGroup {
        max-width: 90vw;
    }
}

.portrait {
    width: 150px;
    height: fit-content;
    margin-right: 1rem;
    border: 2px solid white;
    cursor: pointer;
}
.portrait:hover {
    border: 2px solid #222;
    box-shadow: 1px 1px 3px #666666;
}
.nameTitleGroup {
    flex: 1 1 300px;
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.25em;

}

.title {
    padding: 0.25em 0.25em;
    font-size: 1.2em;
    font-weight: bold;
    /* text-align: center; */
    color: #888;
}

.name {
    font-size: 1.8em;
    line-height: 1em;
    
    font-weight: bold;
    /* text-align: center; */
}

.withdrawn {
    color: #666;
    font-style: italic;
}

.name a {
    color: #222;
}

.textGroup {
    flex: 1 1 300px;

    font-size: 0.9em;
    line-height: 1.08em;
}

.contacts {
    margin-top: 0.5rem;
    font-size: 0.9em;
}